
# Dependency directories
node_modules/

# Ignore distribution directory
dist/

# Ignore Mac .DS_Store
.DS_Store

#Ignore VSCode in Root
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test